.ameise-logo{
    width: 27px;
    height: auto;
    margin-bottom: 7px;
}
.ameise-logo.active{
    background-color: #6ac27b;
}
.ameise-logo.inactive{
    background-color: red;
}
.conversation-archives:not(:last-child){
    border-bottom:1px solid #ddd;margin:0 0 10px 0; padding-bottom:8px;
}
.contract-tag{
    background-color: #337ab7; padding:5px 4px; color:white; font-size:12px;
}
.division-tag{
    background-color:#5bc0de;padding:5px 4px;color:white; font-size:12px; margin-top:8px;
}
.tag-text{
    color:white
}

ul.ui-menu.ui-front {
    z-index: 9999;
}

.form_user_crm{
    position:relative;
    margin-top:10px;
    margin-bottom:16px;
}
.conversation-contracts {
   height: 200px;
   overflow-y: auto;
}
.conversation-archives-data {
    padding-top: 10px;
}

span.loading-icon {
    position: absolute;
    right: 10px;
    top: 26px;
    z-index: 2;
}

#contract_block{
    margin-top:10px;
    margin-bottom:14px;
}

#contract_block .select2,
#division_block .select2{
    width:100% !important;
}

.crm-user-panel{
    margin-top: 50px;
}

.crm-user-panel .panel-title a {
    color: #2a3b47;
    font-size: 13.4px;
    font-weight: bold;
    background: #f1f3f5;
}

.user-panel-body{
    background-color: #f8f9f9;
}

.user-data{
    font-size: 14px;
    border-bottom: 1px solid #dedede; 
    padding:6px 0;
}

.crm-user-panel .panel{
    border: 0;
}

.awesomplete,
.form-group .select2{
    width: 100% !important;
}
